.App {
  text-align: center;
  align-items: center ;
  margin: center;
}
.textArea_div{
  margin-top: 40px;
  text-align: center;
  background-color: beige;
}

.components_div{
  background-color: blanchedalmond;
}
.post{
  background-color: honeydew;
}
.textarea{

}



.Button{
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}